head {
     background-color: rgb(200, 216, 210);
     color: rgb(6, 37, 6);
}
body {
     background-color: rgb(198, 219, 211);
     color: rgb(6, 37, 6);
}
header {
    text-align: center;
}
footer {
    text-align: center;
    font-size: 20px;
    color: rgb(4, 51, 35);
  }
img {
    width: 110px;
    height: 96px;
}
input {
    border-radius: 1px;
    text-justify: distribute;
}

input {
    margin-inline: 5px;
}

.saudacao {
    color: white;
    font-size: 40px;
}
.texto-slogan {
    color: white;
    font-size: 24px;
    font-family: cursive;
    margin-top: 0%;
}
#texto-destacado {
    color: green;
    border: 1px blanchedalmond;
}
.nome-loja {
    background-color: rgb(99, 156, 133);
    color: green;
    border: 0px rgb(99, 156, 133);
    text-align: center;
    font-size: 80px;
    font-style: italic;
    font-family: fantasy;
}
.slogan-principal {    
    color: green;
    border: 1px blanchedalmond;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    font-family: cursive;
    margin-top: 0px;
}
.frase-de-efeito {
    color: green;
    border: 1px blanchedalmond;
    font-style: italic;
    font-size: 24px;
    font-family: cursive;
    margin-top: 0%;
}

